* {
  box-sizing: border-box;
}

body {
  /* margin: 0;
  padding: 0; */

  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

header {
  width: 100%;
  max-width: 375px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 20px;
}

#my-logo {
  display: flex;
  align-items: center; /* Vertically center the logo text */
  color: #6070ff;
  height: 40px;
  width: auto; /* Change width to auto */
}

#my-logo > span {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px; /* Adjust line-height for better alignment */
}

#hamburger-container {
  width: 40px;
  height: 40px;
  padding: 8px;
  display: flex;
  justify-content: center; /* Horizontally center the icon */
  align-items: center; /* Vertically center the icon */
}

#hamburger {
  width: 24px;
  height: 24px;
  background-image: url(Icon\ -\ Menu.png);
  background-position: center;
  background-size: cover;
}

#info-container {
  height: 604px;
  width: 375px;
  padding: 114px 24px 0 24px;
  background-image: url(header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#name {
  width: 327px;
  height: 150px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  margin-bottom: 14px;
  color: #172b4d;
}

#info-text {
  width: 327px;
  height: 146px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

#logos-container {
  margin-top: 14px;
  width: 170px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.logos {
  width: 20px;
  height: 20px;
  color: #505f79;
  background-repeat: no-repeat;
}

#lets-connect {
  color: #7f8cff;
}

#logos-container :nth-child(1) {
  background-image: url(Vector3.png);
}

#logos-container :nth-child(2) {
  background-image: url(Linkedin.png);
}

#logos-container :nth-child(3) {
  background-image: url(Vector.png);
}

#logos-container :nth-child(4) {
  background-image: url(Vector1.png);
}

#logos-container :nth-child(5) {
  background-image: url(Vector2.png);
}

li {
  list-style-type: none;
}

#works-section {
  width: 375px;
  height: 2788px;
  padding: 114px 24px 114px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 88px;
}

.cards-container {
  width: 327px;
  height: 552px;
  border-radius: 16px;
  padding: 16px;
  border: 1px solid #dfe1e6;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.img-container {
  width: 100%;
  height: 220px;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* border: 1px solid red; */
}

.cards-text-container {
  width: 100%;
  height: 288px;

  /* border: 1px solid red; */
}

.project-title {
  width: 100%;
  height: 36px;
  font-size: 32px;
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: #172b4d;
  line-height: 44px;
  margin-bottom: 12px;
}

.frame2 {
  height: 32px;
  width: 100%;
  display: flex;
  gap: 12px;
  align-items: center;
}

.frame2-text {
  font-size: 16px;
  color: #344563;
  font-weight: 600px;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #7a869a;
}

.dot-text {
  font-size: 13px;
  color: #7a869a;
}

.tags-container {
  height: 24px;
  width: 57px;
  display: flex;
  gap: 8px;
  text-align: center;
}

.tags {
  width: 90px;
  height: 24px;
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  background-color: #ebebff;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}

.action {
  width: 295px;
  height: 72px;
}

button {
  width: 126px;
  height: 48px;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #6070ff;
  background-color: white;
  margin-top: 35px;
  font-size: 17px;
  text-align: center;
  font-weight: 500;
  color: #396df2;
}

#img-container-1 {
  background-image: url(card-img-1.jpg);
}

#img-container-2 {
  background-image: url(card-img-2.jpg);
}

#img-container-3 {
  background-image: url(card-img-3.jpg);
}

#img-container-4 {
  background-image: url(card-img-4.jpg);
}

#about-me-container {
  height: 1062px;
  width: 375px;
  padding: 114px 24px;
  display: flex;
  flex-direction: column;
  gap: 52px;
  /* border: 1px solid red; */
}

#about-me-top {
  width: 327px;
  height: 346px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#about-me-top > h1 {
  height: 35px;
  font-size: 40px;
  font-weight: 700;
  color: #172B4D;
  line-height: 52px;
  margin: 0px;
  padding: 0px;
}

#about-me-top > p {
  padding: 0px;
  height: 147px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

#about-me-top > button {
  width: 162px;
  height: 48px;
  border-radius: 8px;
  padding: 12px;
}



#skill-list {
  height: 464px;
  width: 327px;
  /* border: 1px solid red; */
}

#frame12 {
  height: 320px;
  width: 327px;
}

.frame-12-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frame-12-text > h1 {
  height: 72px;
  width: 327px;
  font-size: 20px;
  font-weight: bold;
  line-height: 100px;
  text-align: left;
  padding-left: 14px;
  margin-top: 0px;
  }

  .arrow {
    width: 17px;
    height: 8px;
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-right: 40px;
    background-image: url(Union.png);
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: cover; */
  }

  #languages-list-container {
    height: 248px;
    width: 327px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    padding: 12px;
  }

  .languages-container {
    height: 66px;
    width: 303px;
    border-radius: 8px;
    background-color: #F7F7F9;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 14px;
  }

  .languages-img-container {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    /* border: 1px solid black; */
  }

  .languages-container > span {
    height: 24px;
    width: 215px;
  }

  #js-pic {
    background-image: url(js.png);
  }
  #css-pic {
    background-image: url(css.png);
  }
  #html-pic {
    background-image: url(html.png);
  }